.circleIconButton-1QV--U svg, .circleIcon-1-oi1i, .winButtonClose-1HsbF-, .winButtonMinMax-PBQ2gm, .wordmarkWindows-1v0lYD, .toolbar-1t6TWx>a {display: none;}

.circleIconButton-1QV--U {background: center / contain no-repeat url(https://i.imgur.com/LDWalX8.gif);background-size: 55px;}
.attachButtonInner-PQjIyk {background: center / contain no-repeat url(http://clipart-library.com/images/piqraGebT.gif);background-size: 18px;}

.scrollableContainer-2NUZem {background-color:#121212;}
.scrollableContainer-2NUZem:focus-within {background-color:#E0E0E0;}
